# Binaries for programs and plugins
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Visual Studio
.vscode/
.env

.go-build-cache/
.go-path/
.go-build-cache-ci/
.go-path-ci/
system-tests/.ci-state/
pia-wg-config-ci*
pia-wg-config-*-ci*

# Dependency directories (remove the comment below to include it)
# vendor/
.codex
