PIA_USERNAME=
PIA_PASSWORD=
PIA_REGION=amsterdam404
PIA_PF=0
IPV6_MODE=kill

TZ=Europe/London
STATE_DIR=/gluetun/wireguard

WG_CONF_NAME=wg0.conf
PF_PORT_FILE=forwarded_port
IP_CHECK_URL=https://api.ipify.org
CURL_PATH=

VPN_SERVICE_PROVIDER=custom
VPN_TYPE=wireguard
